[submodule "src/frontend-resourses"]
	path = src/frontend-resourses
	url = https://github.com/NovaGestionSoftware/frontend-resourses.git
[submodule "src/renderer/src/frontend-resourses"]
	path = src/renderer/src/frontend-resourses
	url = https://github.com/NovaGestionSoftware/frontend-resourses.git
