/* @import './base.css'; */
@import "tailwindcss";

@theme {
  --breakpoint-md: 1440px;
  --breakpoint-lg: 1536px;
  --breakpoint-xl: 1920px;
}


.bg-portal {
  background: linear-gradient(to right, #79afec, #1e40af);
}

.bg-layout {
  background: radial-gradient(circle, #e0e8f4, #859cb1);
}